.roadmap {

}

@media (width > 376px)  {
  .roadmap {
    flex-direction: row;
    width: 100%;
    padding-inline: 165px;
    padding-top: 78px;
    padding-bottom: 130px;

    .roadmap__header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;      
      height: 113px;
      background-color: var(--background-terceary);
      color: var(--White);
      border-radius: 10px;
      .roadmap__header-left {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        margin-block: 27px;
        margin-left: 32px;
  
        .back {
          display: flex;
          align-items: center;
  
          .icon-back {
            width:  6px;
            height: 10px;
            background-color: var(--background-comments);
            mask: url("../assets/shared/icon-arrow-left.svg")
              no-repeat center;
          }
  
          .text-back {
            margin-left: 16px;
            font-size:      var(--H4-size);
            font-weight:    var(--H4-weight);
            line-height:    var(--H4-line);
            letter-spacing: var(--H4-space);
          }
        }
  
        .title {
          font-size:      var(--H1-size);
          font-weight:    var(--H1-weight);
          line-height:    var(--H1-line);
          letter-spacing: var(--H1-space);
        }
      }
  
      .roadmap__header-right {
        .roadmap__header-right--add-feedback {
          margin-right: 40px;
          width: 158px;
          height: 44px;
          border: none;
          border-radius: 10px;
          background-color: var(--button-1);
          font-size:      var(--H4-size);
          font-weight:    var(--H1-weight);
          line-height:    var(--H4-line);
          letter-spacing: var(--H4-space);
  
          &:hover {
            background-color: var(--button-1-hover);
            cursor: pointer;
          }
        }
      }
    }

    .roadmap__main {
      display: flex;
      flex-direction: row;
      gap: 30px;
      margin-top: 48px;
      
      .roadmap__main-column {
        flex: 1;
        border-radius: 10px;

        .title {
          font-size:      var(--H3-size);
          font-weight:    var(--H3-weight);
          line-height:    var(--H3-line);
          letter-spacing: var(--H3-space);
        }

        .text {
          margin-bottom: 32px;
          font-size:      var(--Body-1-size);
          font-weight:    var(--Body-1-weight);
          line-height:    var(--Body-1-line);
          letter-spacing: var(--Body-1-space);
          color: var(--text-secondary);
        }

        .items {
          display: flex;
          flex-direction: column;
          gap: 30px;
          
          .roadmap__item {
            background-color: var(--White);
            border-radius: 5px;
            padding-top: 25px;
            padding-inline: 32px;
            padding-bottom: 32px;

            &:hover {
              cursor: pointer;
            }
            
            &:hover > .title {
              color: var(--text-terceary);
            }
            
            .column {
              display: flex;
              flex-direction: row;
              align-items: center;
              margin-bottom: 8px;
              
              .bullet {
                width:  8px;
                height: 8px;
                border-radius: 50%;
              }

              .name {
                margin-left: 16px;
                font-size:      var(--Body-1-size);
                font-weight:    var(--Body-1-weight);
                line-height:    var(--Body-1-line);
                letter-spacing: var(--Body-1-space);
                color: var(--text-secondary);
              }
            }

            .title {
              margin-bottom: 4px;
            }

            .description {
              font-size:      var(--Body-1-size);
              font-weight:    var(--Body-1-weight);
              line-height:    var(--Body-1-line);
              letter-spacing: var(--Body-1-space);
              color: var(--text-secondary);
              margin-bottom: 16px;
            }

            .category {
              width: fit-content;
              background-color: var(--interactive-normal);
              font-size:      var(--Body-3-size);
              font-weight:    var(--Body-3-weight);
              line-height:    var(--Body-3-line);
              letter-spacing: var(--Body-3-space);
              color: var(--text-terceary);
              text-transform: capitalize;
              border-radius: 10px;
              padding-inline: 16px;
              padding-block: 6px;
              margin-bottom: 16px;
            }

            .bottom {
              display: flex;
              flex-direction: row;
              justify-content: space-between;

              .upvotes {
                display: flex;
                align-items: center;
                border-radius: 10px;
                padding: 11px 12.5px 10px 16px;
                background-color: var(--interactive-normal);

                .icon {
                  width: 10px;
                  height: 6px;
                  mask: url("../assets/shared/icon-arrow-up.svg")
                    no-repeat center;
                  background-color: var(--text-terceary);
                  margin-right: 10px;
                }

                .votes {
                  font-size:      var(--Body-3-size);
                  font-weight:    bold;
                  line-height:    var(--Body-3-line);
                  letter-spacing: var(--Body-3-space);
                  color: var(--text-primary);
                }

                &:hover {
                  background-color: var(--interactive-hover);
                  cursor: pointer;
                }

                &:active {
                  background-color: var(--text-terceary);
    
                  & .votes {
                    color: var(--White);
                  }
    
                  & .icon {
                    background-color: var(--White);
                  }
                }
              }

              .comments {
                display: flex;
                align-items: center;

                .icon {
                  width: 18px;
                  height: 16px;
                  mask: url("../assets/shared/icon-comments.svg")
                    no-repeat center;
                  background-color: var(--background-comments);
                  margin-right: 8px;
                }

                .count {
                  font-size:      var(--Body-1-size);
                  font-weight:    bold;
                  line-height:    var(--Body-1-line);
                  letter-spacing: var(--Body-1-space);
                  color: var(--text-primary);
                }
              }
            }
          }
        }
      }
    }
  } 
}