.suggestions-list {

}

@media (width > 376px)  {
  .suggestions-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 825px;
    /* width: clamp(400px, 825px, 825px); */

    .suggestions-list__header {
      display: flex;
      justify-content: space-between;
      background-color: var(--background-terceary);
      color: var(--White);
      border-radius: 10px;
      padding-block:  14px;
      padding-inline: 16px;

      .suggestion-list__header--left {
        display: flex;
        align-items: center;
        flex-direction: row;
        align-items: center;

        .suggestion-list__header--logo {
          width: 23px;
          height: 24px;
          margin-left: 8px;
          margin-right: 16px;
          background-color: var(--White);
          mask: url('../assets/suggestions/icon-suggestions.svg') 
            no-repeat center;
        }

        .suggestion-list__header--quantity {
          margin-right: 38px;
          font-size:      var(--H3-size);
          font-weight:    var(--H3-weight);
          line-height:    var(--H3-line);
          letter-spacing: var(--H3-space);
        }

        .suggestions-list__header--sort {
          position: relative;

          .suggestions-list__header--sort-text {
            display: flex;
            flex-direction: row;
            align-items: center;
            font-size:      var(--Body-1-size);
            font-weight:    var(--Body-1-weight);
            line-height:    var(--Body-1-line);
            letter-spacing: var(--Body-1-space);
            color: var(--Bluish-White);

            &:hover:not(.cero) {
              cursor: pointer;
            }

            &.cero {
              opacity: 0.50;
              pointer-events: none;
            }
            
            .name {
              opacity: 0.75;
            }

            .selected {
              font-weight: bold;
              margin-left: 6px;
              opacity: 0.75;

              &.open {
                color: var(--White);
                opacity: 1;
              }
            }

            .icon {
              display: flex;
              justify-content: center;
              align-items: center;
              width:  8px;
              height: 8px;
              margin-left: 9px;
              mask: url('../assets/shared/icon-arrow-up.svg')
                no-repeat center;
              background-color: var(--White);
              opacity: 1;
              transition: rotate 300ms ease;

              &.open {
                rotate: 180deg;
              }
            }

            .suggestions-list__header--sort-list {
              position: absolute;
              top: 62px;
              display: flex;
              flex-direction: column;
              gap: 1px;
              background-color: color-mix(in oklab, var(--text-primary) 15%, white);
              border-radius: 10px;
              width: 255px;
              overflow: hidden;
              box-shadow: 0 10px 40px -7px color-mix(in oklab, var(--Very-Dark-Blue) 35%, transparent);
              
              .menu-item {
                display: flex;
                justify-content: space-between;
                align-items: center;
                height: 47.3px;
                padding-inline: 24px;
                background-color: var(--White);
                color: var(--text-secondary);
  
                .text {
                  font-size:      var(--Body-1-size);
                  font-weight:    var(--Body-1-weight);
                  line-height:    var(--Body-1-line);
                  letter-spacing: var(--Body-1-space);
                }
  
                .check {
                  width: 20px;
                  height: 20px;
                  mask: url("../assets/shared/icon-check.svg")
                    no-repeat center;
                  background-color: var(--button-1);
                  opacity: 0;
                  display: none;
  
                  &.selected {
                    opacity: 1;
                    display: block;
                  }
                }
  
                &:hover {
                  cursor: pointer;
                  color: var(--button-1);
                }
              }
            }
          }
        }
      }

      .suggestions-list__header--right {
        .suggestions-list__header--add-feedback {
          width: 158px;
          height: 44px;
          border: none;
          border-radius: 10px;
          background-color: var(--button-1);
          font-size:      var(--H4-size);
          font-weight:    var(--H1-weight);
          line-height:    var(--H4-line);
          letter-spacing: var(--H4-space);

          &:hover {
            background-color: var(--button-1-hover);
            cursor: pointer;
          }
        }
      }
    }

    .suggestions-list__items {
      display: flex;
      flex-direction: column;
      gap: 20px;
      
      .suggestion {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border-radius: 10px;
        padding-block: 28px;
        padding-inline: 32px;
        background-color: var(--White);

        &:hover {
          cursor: pointer;
        }
        
        &:hover > .left > .contents > .title {
          color: var(--text-terceary);
        }

        .left {
          display: flex;
          flex-direction: row;

          .votes {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 40px;
            height: 53px;
            margin-right: 40px;
            border-radius: 10px;
            background-color: var(--interactive-normal);

            &:hover {
              background-color: var(--interactive-hover);
            }

            &:active {
              background-color: var(--text-terceary);

              & .num-votes {
                color: var(--White);
              }

              & .icon {
                background-color: var(--White);
              }
            }

            .icon {
              width:  10px;
              height: 10px;
              margin-bottom: 6px;
              mask: url("../assets/shared/icon-arrow-up.svg")
                no-repeat center;
              background-color: var(--text-terceary);
            }

            .num-votes {
              font-size:   var(--Body-3-size);
              font-weight: bold;
              line-height: var(--Body-3-line);
              color: var(--text-primary);
            }
          }

          .contents {

            .title {
              font-size:      var(--H3-size);
              font-weight:    var(--H3-weight);
              line-height:    var(--H3-line);
              letter-spacing: var(--H3-space);
              color: var(--text-primary);
            }

            .description {
              font-size:      var(--Body-1-size);
              font-weight:    var(--Body-1-weight);
              line-height:    var(--Body-1-line);
              letter-spacing: var(--Body-1-space);
              margin-top: 4px;
              color: var(--text-secondary);
            }

            .category {
              width: fit-content;
              background-color: var(--interactive-normal);
              font-size:   var(--Body-3-size);
              font-weight: var(--Body-3-weight);
              line-height: var(--Body-3-line);
              color: var(--text-terceary);
              border-radius: 10px;
              margin-top: 12px;
              padding-inline: 16px;
              padding-block: 6px;
              text-transform: capitalize;
      
              &:hover {
                background-color: var(--interactive-hover);
                cursor: pointer;
              }
      
              &:active {
                background-color: var(--interactive-active);
                color: var(--White);
              }
            }
          }
        }

        .right {
          display: flex;
          justify-content: center;
          align-items: center               ;
          gap: 10px;

          .icon {
            width:  18px;
            height: 16px;
            mask: url("../assets/shared/icon-comments.svg")
              no-repeat center;
            background-color: var(--background-comments);
          }

          .comments {
            font-size:      var(--Body-1-size);
            font-weight:    bold;
            line-height:    var(--Body-1-line);
            letter-spacing: var(--Body-1-space);

            &.cero {
              opacity: 0.4988;
            }
          }
        }
      }
    }
  }
}