* {
  box-sizing: border-box;
  margin:  0;
  padding: 0;
}

:root {
  color-scheme: light dark;

  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Colors */
  --Purple:          #AD1FEA;
  --Blue:            #4661E6;
  --Very-Dark-Blue:  #373F68;
  --White:           #FFFFFF;

  --Very-Light-Blue: #F2F4FF;
  --Bluish-White:    #F7F8FD;
  --Dark-Blue:       #3A4374;
  --Light-Blue:      #647196;

  --Rose:            #F49F85;
  --Cyan:            #62BCFA;
  --Red:             #D73737;
  --Sky:             #CFD7FF;
  --Bluish-White:    #F2F4FE;

  --Purple-Hover:    #C75AF6;
  --Blue-Hover:      #7C91F9;
  --Dark-Blue-Hover: #656EA3;
  --Red-Hover:       #E98888;

  /* Backgrounds */
  --background-primary:   var(--Bluish-White);
  --background-secondary: var(--Very-Light-Blue);
  --background-terceary:  var(--Very-Dark-Blue);

  /* Text Colors */
  --text-primary:   var(--Dark-Blue);
  --text-secondary: var(--Light-Blue);
  --text-terceary:  var(--Blue);

  /* Buttons */
  --button-1:           var(--Purple);
  --button-1-hover:     var(--Purple-Hover);

  --button-2:           var(--Blue);
  --button-2-hover:     var(--Blue-Hover);

  --button-3:           var(--Dark-Blue);
  --button-3-hover:     var(--Dark-Blue-Hover);

  --button-4:           var(--Red);
  --button-4-hover:     var(--Red-Hover);

  /* Interactive Elements */
  --interactive-normal: var(--Very-Light-Blue);
  --interactive-hover:  var(--Sky);
  --interactive-active: var(--Blue);

  /* Typography */
  --H1-weight: bold;
  --H2-weight: bold;
  --H3-weight: bold;
  --H4-weight: 500;

  --H1-size: 24px;
  --H2-size: 20px;
  --H3-size: 18px;
  --H4-size: 14px;

  --H1-line: 35px;
  --H2-line: 29px;
  --H3-line: 26px;
  --H4-line: 20px;

  --H1-spacing: -0.33;
  --H2-spacing: -0.25;
  --H3-spacing: -0.25;
  --H4-spacing: -0.20;

  --Body-1-weight: normal;
  --Body-2-weight: normal;
  --Body-3-weight: 600;

  --Body-1-size: 16px;
  --Body-2-size: 15px;
  --Body-3-size: 13px;

  --Body-1-line: 23px;
  --Body-2-line: 22px;
  --Body-3-line: 19px;
}